[Unit]
Description=SSHail daemon
After=network.target

[Service]
User=sshail
PermissionsStartOnly=true
ExecStartPre=/bin/touch /var/log/sshail.log
ExecStartPre=/bin/chown sshail:sshail /var/log/sshail.log
ExecStart=/usr/local/bin/sshail

Type=simple
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target

